<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYYwpt0-bPvJU-DppgsTAz0mr5V9De8sU</string>
	<key>GCM_SENDER_ID</key>
	<string>555001702609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reviewerApp</string>
	<key>PROJECT_ID</key>
	<string>reviewer-62a93</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewer-62a93.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555001702609:ios:a7ace5ea60fd5b30773df0</string>
</dict>
</plist>